/* ----------------------------(color-variables)------------------------------ */
:root {
  --first-color: #2196f3;
  --second-color: #fff;
  --third-color: #000;
  --fourth-color: #921;
  --five-color: #757575;
  --six-color: #212121;
}
/* ------------------------(logo)----------------------------------- */
.part-logo {
  color: var(--first-color);
}

.logo {
  color: var(--third-color);
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.7;
  margin-left: 10px;
}

.logo-bottom {
  color: var(--third-color);
  font-family: "Raleway";
  text-decoration: none;
  font-size: 26px;
  line-height: 1.7;
  margin-left: 10px;
}
/* ------------------------------(body-settings)--------------------------- */
body * {
  font-family: "Roboto", "Montserrat";
  color: var(--third-color);
  text-decoration: none;
  font-style: normal;
}

/* section features */
.title-features {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.1;
  color: var(--six-color);
}

.title-paragraph {
  font-size: 14px;
  line-height: 1.7;
  color: var(--five-color);
}

/* section work */

.title-name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--six-color);
}

/* section team */

.team-features {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: var(--six-color);
}

.team-paragraph {
  font-style: normal;
  font-size: 16px;
  line-height: 1.1;
  color: var(--five-color);
}

/* section portfolio */

.title-portfolio {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--six-color);
}

.paragraph-portfolio {
  font-size: 16px;
  line-height: 1.5;
  color: var(--five-color);
}

/* ------------------------(header-and-footer-navigation-and-address)--------------------------- */

.navigation:hover,
.navigation:focus {
  color: var(--first-color);
}

.navigation {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(--six-color)
}

.contacts-header:hover,
.contacts-header:focus {
  color: var(--first-color);
}

.title-address:hover,
.title-address:focus {
  color: var(--first-color);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--first-color);
}

.contacts-header{
color: var(--five-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
}
.contacts-footer{
color: var(--five-color);
font-style: normal;
font-size: 14px;
line-height: 24px;
}

.title-address {
font-style: normal;
font-size: 14px;
line-height: 24px;
}

/* -----------------------(button-on-the-main-page-of-the-site)------------------------------ */

.button-style:focus,
.button-style:hover {
  background-color: var(--first-color);
  color: var(--second-color);
  border-color: var(--first-color);
}

.button-style {
  width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 2.6;
  cursor: pointer;
}

/* -----------------(the-text-should-be-hidden)---------------------- */
.hiden {
  display: none;
}
/* -----------------------(filter-on-the-portfolio-tab)------------------------ */

.filter-button button:focus,
.filter-button button:hover {
  background-color: var(--first-color);
  color: var(--second-color);
}

.filter-button button {
  cursor: pointer;
}

.filter-button button {
  line-height: 2.6;
  left: 593px;
  top: 174px;
}

.button-one {
  width: 73px;
  height: 38px;
  left: 512px;
  top: 174px;
}

.button-two {
  width: 125px;
  height: 38px;
  left: 593px;
  top: 174px;
}

.button-three {
  width: 112px;
  height: 38px;
  left: 726px;
  top: 174px;
}

.button-four {
  width: 103px;
  height: 38px;
  left: 846px;
  top: 174px;
}

.button-five {
  width: 130px;
  height: 38px;
  left: 957px;
  top: 174px;
}
